---
import Layout from '../layouts/Layout.astro';
import AnimatedText from '../components/AnimatedText.astro';
const text = [
	'purported',
	'might be',
	'alleged',
	'is it',
	'not really',
	'purported'
]
---

<Layout title="This Might Be Art">
	<main>
		<div class="wrapper">
			<AnimatedText text={text} />
			<h1>ART</h1>
			<p>coming soon</p>
			<small class="definition">purported<br>
				<i>/pərˈpôrdəd/</i><br><br>
				<i>adjective</i><br><br>
				appearing or stated to be true,<br>though not necessarily so;<br>alleged</small>
		</div>
	</main>
</Layout>

<style>

	h1 {
		margin: 0 auto;
		color: var(--headline-color)
	}

	p {
		color: hsl(0, 0%, 20%);
		text-transform: uppercase;
		font-weight: 500;
	}

	.definition {
		opacity: 0;
		animation: fade-in 3s forwards;
		animation-delay: 2s;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
		text-align: center;
	}
	
	main * {
		color: black;
	}
</style>
