---
import Layout from '../layouts/Layout.astro';
import AnimatedText from '../components/AnimatedText.astro';
const text = [
	'purported',
	'might be',
	'alleged',
	'is it',
	'not really',
	'purported'
]
---

<Layout title="This Might Be Art">
	<main>
		<div class="wrapper">
			<AnimatedText text={text} />
			<h1>ART</h1>
			<p>coming soon</p>
		</div>
	</main>
</Layout>

<style>

	h1 {
		margin: 0 auto;
		color: var(--headline-color)
	}

	p {
		color: hsl(0, 0%, 20%);
		text-transform: uppercase;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
		text-align: center;
	}
	
	main * {
		transition: .3s ease-in-out;
	}
	main:hover * {
		color: black;
	}
</style>
